<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark mb-4">
    <div class="container">
        <a class="navbar-brand" href="/">SportsORM</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                <!-- place your navigation links here -->
                <li class="nav-item">
                    <a class="nav-link" href="/">Instructions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/level_1">Level 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/level_2">Level 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/level_3">Level 3</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script>
    document.querySelectorAll(".nav-link").forEach(link => {
        if(link.getAttribute("href") === window.location.pathname) {
            link.classList.add("active");
        }
    });
</script>