# ==============================
# C# things
# ==============================

bin/
obj/
appsettings.json

# ==============================
# Visual Studio Code things
# ==============================

.vscode/
# !.vscode/settings.json

# ==============================
# Windows things
# ==============================

Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# ==============================
# MacOS Things
# ==============================

.DS_Store
Icon?

# ==============================
# npm things
# ==============================

node_modules/